<br>
<br>
<h2>GITHUB-SEARCH</h2>
<br>
<br>
<div class="container">
    <div class="qq">
  <app-search-form (passTerm)="search($event)"></app-search-form>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div>
        <h3>User Names</h3>
        <div *ngFor="let user of users; let i = index">

         
          <br>
          <p>{{ user.userName }}
          </p>
          <img src="{{ user.profileImage }}" alt="">



        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h3>Repositories</h3>
        <div *ngFor="let repo of repos; let i = index">
        
          <br>

          <p>{{ repo.repoName }}
          </p>
          <img src="{{ repo.userImage }}" alt="">
          <br>
          <br>

          <a href="{{ repo.repoUrl }}"><button class="btn btn-primary">Link</button></a>
          <br>

        </div>

        </div>
      </div>
    </div>
  </div>
</div>
